body{
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
    background-size: cover;
}

.top{
    width: 1560px;
    height: 180px;
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
    display: flex;
}

 li{
    float: left;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    font-style: italic;
    font-weight: bold;
}
.select{
    background-color: rgb(85, 158, 192);
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border: none;
}
li:hover{
    color: gold;
}
ol{
    margin-left: 200px;
    margin-top: 20px;

}
#home{
    color:yellow;
}
form{
    margin-top: 90px;
    margin-left:970px ;
    position: absolute;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px grey;
    border: none;
}
.name{
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    color: whitesmoke;
    margin-top: 40px;
    display: inline-block;
    display: flex;
    position: absolute;
    text-shadow: 2px 2px aquamarine;
}
.slogan{
    display: inline-block;
    margin-left: 320px;
    margin-top: 120px;
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    color: rgb(245, 231, 245);
    font-weight: bold;
    text-shadow: 1px 1px aquamarine;
}
.left{
    width: 220px;
    height: 800px;
    display: inline-block;
    position: absolute;
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
}
.animation{
    height: 170px;
    width: 190px;
    border: whitesmoke 2px solid;
    border-radius: 8px;
    margin: 5px;
    background-color: violet;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.568);
    color: rgb(27, 99, 133);
    padding-left: 30px;
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {background-color: rgb(167, 19, 93);}
   12.5%{background-color: rgb(65, 16, 155);}
    25%{background-color: rgb(163, 218, 14);}
    35% {background-color: rgb(240, 29, 29);}
    50%{background-color: rgb(10, 158, 55);}
   74%{background-color: rgb(19, 175, 223);}
    100%{background-color: rgb(196, 32, 196);}

}
.spl{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: white;
}
.menu{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding-left: 40px;
    color: whitesmoke;
}
.items{
    padding-left: 30px;
    color: white;
    font-style: italic;
    
}
.subitems{
    font-size: 15px;
    color: darkblue;
}
.items-detail{
    padding-left: 20px;
    color: white;
    font-style: italic;
    
}
.seperate{
    color: rgb(221, 224, 9);
    font-style: italic;
    padding-left: 20px;
    padding-top: 15px;
}
.main{
    width: 1350px;
    height: 800px;
    margin-left: 210px;
    display: inline-block;
    overflow: hidden;
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
}
marquee{
    background-color: rgba(141, 37, 115, 0.438);
    color: whitesmoke;
    font-style: italic;
    font-weight: bold;
    border: 2px solid white;
    margin-left: 9px;
    border-radius: 8px;
}
.card-img-top{
    margin: 10px;
    border: 2px solid rgba(135, 207, 201, 0.836);
    height: 180px;
    width: 240px;
    display: flex;
}
.card{
    display: inline-block;
    margin: 7px;
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
}
img{
    padding: 5px;
}
.bottom{
    width: 1560px;
    height: 200px;
    /* border: 2px solid red;
    margin: 2px; */
    background-image: linear-gradient(rgb(129, 149, 180),rgb(90, 163, 153),rgb(77, 121, 172),rgb(174, 174, 212));
    display: flex;
}
.info{
    margin-left: 230px;
    color: white;
    
}
h2{
    color: yellow;
}
button{
    display: block;
    margin: 10px;
    background-color: rgba(37, 29, 158, 0.63);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
button:hover{
    background-color: hotpink;
}
.insta{
    background-color: purple;
}
.Twitter{
    background-color: rgb(23, 181, 230);
}
a{
    text-decoration: none;
}



@media screen and (max-width :700px){
    .card{
        display: block;
        font-size: 10px;
        background-color: aquamarine;

    }
    
}

@media screen and (max-width :700px){
    .name{

        font-size: 50px;
        background-color: aquamarine;

    }
    
}




